{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "inline-dotenv",
      {
        "path": "./.env"
      }
    ]
  ]
}
